<form id="deleteForm_{{ user.id }}" method="post" action="{{ path('app_profile_delete', {'id': user.id}) }}" onsubmit="return confirmDelete({{ user.id }});">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
    <button class="btn btn-danger">Eliminar</button>
</form>
<script>
    function confirmDelete(userId) {
        var superAdmins = {{ superAdmins }};
        if (superAdmins <= 1) {
            alert("No puedes eliminar al único SUPER_ADMIN restante.");
            return false; // Evita que se envíe el formulario si el usuario es el último SUPER_ADMIN
        } else {
            return confirm('¿Estás seguro que deseas eliminar este usuario?');
        }
    }
</script>

