{% extends 'base.html.twig' %}

{% block title %}User index
{% endblock %}

{% block body %}


	<style>

		tr {
			text-align: center;
			align-items: center;
		}

		.table .bi {
			font-size: 21px;
			color: black;
		}

		.bi-person-fill-add {
			font-size: 20px;
			color: white;
		}
	</style>


	<div class="container-fluid">

		<div class="row">


			{{ include('sidebar.html.twig') }}

			<div class="col-lg-11 col-md-10">

				<div class="text-start mt-1">
					<a href="{{ path('app_inicio') }}" class="btn btn-secondary text-light border border-dark mt-1">

						<i class="bi bi-arrow-return-left"></i>
						Retroceder</a>
				</div>


				{% if is_granted('ROLE_SUPER_ADMIN') %}

					<div class="row text-center">
						<h1>Gestionar usuarios</h1>
					</div>


					<a href="{{ path('app_profile_new') }}" class="btn btn-primary text-light mt-1">Crear usuario
						<i class="bi bi-person-fill-add"></i>
					</a>


					<table class="table table-bordered table-striped w-100 mt-4">

						<thead>
							<tr>
								<th>Id</th>
								<th>Email</th>
								<th>Roles</th>
								<th>Name</th>
								<th>Surname</th>
								<th>Access_date</th>
								<th>Two_factor_activated</th>
								<th>IsVerified</th>
								<th>Actions</th>
							</tr>
						</thead>
						<tbody>
							{% for user in users %}
								<tr>
									<td>{{ user.id }}</td>
									<td>{{ user.email }}</td>
									<td>{{ user.roles ? user.roles|json_encode : '' }}</td>
									<td>{{ user.name }}</td>
									<td>{{ user.surname }}</td>
									<td>{{ user.accessDate ? user.accessDate|date('Y-m-d') : '' }}</td>
									<td>{{ user.twoFactorActivated ? 'Yes' : 'No' }}</td>
									<td>{{ user.isVerified ? 'Yes' : 'No' }}</td>
									<td>
										<a href="{{ path('app_profile_show', {'id': user.id}) }}">
											<i class="bi bi-eye-fill"></i>
										</a>

										<a href="{{ path('app_profile_edit', {'id': user.id}) }}">
											<i class="bi bi-person-fill-gear"></i>
										</a>
									</td>
								</tr>
							{% else %}
								<tr>
									<td colspan="11">no records found</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>

			</div>
		{% endif %}

	{% endblock %}
