{% extends 'base.html.twig' %}
{% block body %}

	<style>

		body {
			background-color: white;
		}

		a {
			text-decoration: none;
		}


		.bi-person-gear {
			font-size: 38px;
		}

		.bi-person-circle,
		.bi-gear,
		.bi-box-arrow-left {
			font-size: 30px;
		}
	</style>


	<div class="col-lg-1 col-md-2 d-flex flex-column border-end">


		<div class="icono mb-3 mt-3 text-center">
			<a href="{{ path('app_inicio') }}" class="">
				<img src="{{ asset('images/logo_samoo_vaca.png') }}" alt="" class="" style="width: 85px">
			</a>
		</div>

		{% if is_granted('ROLE_SUPER_ADMIN') %}

			<div class="text-center mt-3">
				<a href="{{ path('app_profile_index') }}" class="">
					<i class="bi bi-person-gear"></i>
					<p>Gestionar usuarios</p>
				</a>
			</div>
		{% endif %}


		{% if is_granted('ROLE_USER') %}

			<div class="text-center mt-1">
				<a href="/profile/{{user.id}}" class="">
					<i class="bi bi-gear"></i>
					<p>Ajustes de cuenta</p>
				</a>
			</div>
		{% endif %}


		<div class="d-flex flex-column">

			<div class="iconoUsuario text-center">

				<i class="bi bi-person-circle"></i>
				<h6>{{user.name}}</h6>
				<h6 style="margin-top: -5px;">{{user.surname}}</h6>
			</div>


			<div class="salir text-center">
				<a href="{{ path('app_logout') }}" class="text-danger border btn w-75">
					<i class="bi bi-box-arrow-left"></i>
					<h6 class="">Salir</h6>
				</a>
			</div>
		</div>
	</div>
{% endblock %}
